[Desktop Entry]
Name=System Upgrade
Comment=MassOS Upgrader
GenericName=System Upgrader
Exec=sudo upgrade
Icon=system-upgrade
Terminal=true
StartupNotify=true
Type=Application
Categories=System;
Path=
